@font-face {
    font-family: 'IntroRust';
    src: url('/assets/fonts/IntroRust-BaseShade.otf') format('opentype');
}

@font-face {
    font-family: 'LazyDog';
    src: url('/assets/fonts/lazy_dog/lazy_dog.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IntroRust', sans-serif;
    scroll-behavior: smooth;
}

/* Hide scrollbar for all elements */
::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

body {
    color: white;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.lazy-dog {
    font-family: 'LazyDog', sans-serif;
}

.main-content {
    opacity: 0;
    background: black;
}

.text-center {
    text-align: center;
}

.color-white {
    color: #fff;
}
